Repository MaxMood96/gitpod, changes with the owners that CODEOWNERS names for each.
All owners: @gitpod-io/engineering, @gitpod-io/engineering-meta, @gitpod-io/engineering-workspace

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/server/leeway.Dockerfile to reduce vulnerabilities
  components/server/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/server/leeway.Dockerfile to reduce vulnerabilities
  components/server/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ws-manager-bridge/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager-bridge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ws-manager-bridge/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager-bridge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ws-manager-bridge/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager-bridge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: package.json to reduce vulnerabilities
  package.json
Owners: @gitpod-io/engineering

[intellij] Update IDE image to build version 213.5744.125
  components/ide/jetbrains/image/BUILD.yaml
Owners: @gitpod-io/engineering-workspace

[goland] Update IDE image to build version 213.5744.124
  components/ide/jetbrains/image/BUILD.yaml
Owners: @gitpod-io/engineering-workspace

[goland] Update IDE image to build version 213.5744.186
  components/ide/jetbrains/image/BUILD.yaml
Owners: @gitpod-io/engineering-workspace

[intellij] Update IDE image to build version 213.5744.202
  components/ide/jetbrains/image/BUILD.yaml
Owners: @gitpod-io/engineering-workspace

[goland] Update IDE image to build version 213.5744.269
  components/ide/jetbrains/image/BUILD.yaml
Owners: @gitpod-io/engineering-workspace

[intellij] Update IDE image to build version 213.5744.223
  components/ide/jetbrains/image/BUILD.yaml
Owners: @gitpod-io/engineering-workspace

[goland] Update IDE image to build version 213.6461.23
  components/ide/jetbrains/image/BUILD.yaml
Owners: @gitpod-io/engineering-workspace

[goland] Update IDE image to build version 213.6461.81
  WORKSPACE.yaml
Owners: @gitpod-io/engineering

[phpstorm] Update IDE image to build version 213.6461.83
  WORKSPACE.yaml
Owners: @gitpod-io/engineering

[pycharm] Update IDE image to build version 213.6461.77
  WORKSPACE.yaml
Owners: @gitpod-io/engineering

[intellij] Update IDE image to build version 213.6461.79
  WORKSPACE.yaml
Owners: @gitpod-io/engineering

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/server/leeway.Dockerfile to reduce vulnerabilities
  components/server/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ws-manager-bridge/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager-bridge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-protocol/package.json to reduce vulnerabilities
  components/gitpod-protocol/package.json
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ws-manager-bridge/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager-bridge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

CODEOWNERS:

## by default stuff is owned by the engineering team as a whole
* @gitpod-io/engineering

## Meta Team
/components/dashboard/               @gitpod-io/engineering-meta
/components/ee/db-sync/              @gitpod-io/engineering-meta
/components/ee/kedge/                @gitpod-io/engineering-meta
/components/ee/payment-endpoint/     @gitpod-io/engineering-meta
/components/gitpod-db/               @gitpod-io/engineering-meta
/components/gitpod-messagebus/       @gitpod-io/engineering-meta
/components/gitpod-protocol/         @gitpod-io/engineering-meta
/components/licensor/                @gitpod-io/engineering-meta
/components/proxy/                   @gitpod-io/engineering-meta
/components/server/                  @gitpod-io/engineering-meta
/components/service-waiter/          @gitpod-io/engineering-meta
/components/ws-manager-bridge/       @gitpod-io/engineering-meta
/components/ws-manager-bridge-api/   @gitpod-io/engineering-meta

## Workspace Team
/components/blobserve/               @gitpod-io/engineering-workspace
/components/common-go/               @gitpod-io/engineering-workspace
/components/content-service/         @gitpod-io/engineering-workspace
/components/content-service-api/     @gitpod-io/engineering-workspace
/components/docker-up/               @gitpod-io/engineering-workspace
/components/ee/agent-smith/          @gitpod-io/engineering-workspace
/components/ee/ws-scheduler/         @gitpod-io/engineering-workspace
/components/gitpod-cli/              @gitpod-io/engineering-workspace
/components/ide/                     @gitpod-io/engineering-workspace
/components/image-builder/           @gitpod-io/engineering-workspace
/components/image-builder-api/       @gitpod-io/engineering-workspace
/components/local-app/               @gitpod-io/engineering-workspace
/components/local-app-api/           @gitpod-io/engineering-workspace
/components/registry-facade/         @gitpod-io/engineering-workspace
/components/registry-facade-api/     @gitpod-io/engineering-workspace
/components/supervisor/              @gitpod-io/engineering-workspace
/components/supervisor-api/          @gitpod-io/engineering-workspace
/components/workspacekit/            @gitpod-io/engineering-workspace
/components/ws-daemon/               @gitpod-io/engineering-workspace
/components/ws-daemon-api/           @gitpod-io/engineering-workspace
/components/ws-manager/              @gitpod-io/engineering-workspace
/components/ws-manager-api/          @gitpod-io/engineering-workspace
/components/ws-proxy/                @gitpod-io/engineering-workspace
/dev/gpctl/                          @gitpod-io/engineering-workspace
/dev/loadgen/                        @gitpod-io/engineering-workspace
