Repository MaxMood96/gitpod, changes with the owners that CODEOWNERS names for each.
All owners: @gitpod-io/engineering, @gitpod-io/engineering-meta, @gitpod-io/engineering-workspace

CODEOWNERS:

## by default stuff is owned by the engineering team as a whole
* @gitpod-io/engineering

## Meta Team
/components/dashboard/               @gitpod-io/engineering-meta
/components/ee/db-sync/              @gitpod-io/engineering-meta
/components/ee/kedge/                @gitpod-io/engineering-meta
/components/ee/payment-endpoint/     @gitpod-io/engineering-meta
/components/gitpod-db/               @gitpod-io/engineering-meta
/components/gitpod-messagebus/       @gitpod-io/engineering-meta
/components/gitpod-protocol/         @gitpod-io/engineering-meta
/components/licensor/                @gitpod-io/engineering-meta
/components/proxy/                   @gitpod-io/engineering-meta
/components/server/                  @gitpod-io/engineering-meta
/components/service-waiter/          @gitpod-io/engineering-meta
/components/ws-manager-bridge/       @gitpod-io/engineering-meta
/components/ws-manager-bridge-api/   @gitpod-io/engineering-meta

## Workspace Team
/components/blobserve/               @gitpod-io/engineering-workspace
/components/common-go/               @gitpod-io/engineering-workspace
/components/content-service/         @gitpod-io/engineering-workspace
/components/content-service-api/     @gitpod-io/engineering-workspace
/components/docker-up/               @gitpod-io/engineering-workspace
/components/ee/agent-smith/          @gitpod-io/engineering-workspace
/components/ee/ws-scheduler/         @gitpod-io/engineering-workspace
/components/gitpod-cli/              @gitpod-io/engineering-workspace
/components/ide/                     @gitpod-io/engineering-workspace
/components/image-builder/           @gitpod-io/engineering-workspace
/components/image-builder-api/       @gitpod-io/engineering-workspace
/components/local-app/               @gitpod-io/engineering-workspace
/components/local-app-api/           @gitpod-io/engineering-workspace
/components/registry-facade/         @gitpod-io/engineering-workspace
/components/registry-facade-api/     @gitpod-io/engineering-workspace
/components/supervisor/              @gitpod-io/engineering-workspace
/components/supervisor-api/          @gitpod-io/engineering-workspace
/components/workspacekit/            @gitpod-io/engineering-workspace
/components/ws-daemon/               @gitpod-io/engineering-workspace
/components/ws-daemon-api/           @gitpod-io/engineering-workspace
/components/ws-manager/              @gitpod-io/engineering-workspace
/components/ws-manager-api/          @gitpod-io/engineering-workspace
/components/ws-proxy/                @gitpod-io/engineering-workspace
/dev/gpctl/                          @gitpod-io/engineering-workspace
/dev/loadgen/                        @gitpod-io/engineering-workspace

fix: components/ws-manager-bridge/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager-bridge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/server/leeway.Dockerfile to reduce vulnerabilities
  components/server/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/server/leeway.Dockerfile to reduce vulnerabilities
  components/server/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ws-manager-bridge/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager-bridge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: dev/poolkeeper/leeway.Dockerfile to reduce vulnerabilities
  dev/poolkeeper/leeway.Dockerfile
Owners: @gitpod-io/engineering

fix: components/leeway.Dockerfile to reduce vulnerabilities
  components/leeway.Dockerfile
Owners: @gitpod-io/engineering

fix: components/ws-manager/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/blobserve/leeway.Dockerfile to reduce vulnerabilities
  components/blobserve/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/ee/kedge/leeway.Dockerfile to reduce vulnerabilities
  components/ee/kedge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/image-builder/leeway.Dockerfile to reduce vulnerabilities
  components/image-builder/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/ws-daemon/leeway.Dockerfile to reduce vulnerabilities
  components/ws-daemon/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/service-waiter/leeway.Dockerfile to reduce vulnerabilities
  components/service-waiter/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/registry-facade/leeway.Dockerfile to reduce vulnerabilities
  components/registry-facade/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/ws-proxy/leeway.Dockerfile to reduce vulnerabilities
  components/ws-proxy/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/proxy/Dockerfile to reduce vulnerabilities
  components/proxy/Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/ws-scheduler/leeway.Dockerfile to reduce vulnerabilities
  components/ee/ws-scheduler/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/local-app/leeway.Dockerfile to reduce vulnerabilities
  components/local-app/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/ee/agent-smith/leeway.Dockerfile to reduce vulnerabilities
  components/ee/agent-smith/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/ws-daemon/debug.Dockerfile to reduce vulnerabilities
  components/ws-daemon/debug.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: dev/sweeper/leeway.Dockerfile to reduce vulnerabilities
  dev/sweeper/leeway.Dockerfile
Owners: @gitpod-io/engineering

fix: components/content-service/leeway.Dockerfile to reduce vulnerabilities
  components/content-service/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile to reduce vulnerabilities
  components/ws-daemon/seccomp-profile-installer/leeway.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/ws-manager/debug.Dockerfile to reduce vulnerabilities
  components/ws-manager/debug.Dockerfile
Owners: @gitpod-io/engineering-workspace

fix: components/ws-manager-bridge/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager-bridge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/gitpod-db/leeway.Dockerfile to reduce vulnerabilities
  components/gitpod-db/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/server/leeway.Dockerfile to reduce vulnerabilities
  components/server/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/db-sync/leeway.Dockerfile to reduce vulnerabilities
  components/ee/db-sync/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/server/leeway.Dockerfile to reduce vulnerabilities
  components/server/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ws-manager-bridge/leeway.Dockerfile to reduce vulnerabilities
  components/ws-manager-bridge/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta

fix: components/ee/payment-endpoint/leeway.Dockerfile to reduce vulnerabilities
  components/ee/payment-endpoint/leeway.Dockerfile
Owners: @gitpod-io/engineering-meta
